.header {
  background-color: var(--primary-color);
  height: 7.2rem;
  padding: 0 3.2rem;
  border-radius: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 42px;
}

.left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.left h1 {
  font-size: 2.4rem;
}

.right {
  margin-left: auto;
  font-size: 1.8rem;
}
